* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*cursor: none;*/
}

/* SCREEN */
#screen {
    position: fixed;
    top: calc(50% - 50vmin);
    left: calc(50% - 50vmin);
    width: 100vmin;
    height: 100vmin;
    overflow: hidden;
}

/* TEMP */
body {
    background-color: black;
}

#sce {
    display: none;
}