#ps {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ps_icon {
    position: absolute;
    top: 16%;
    left: calc(50% - 20%);
    width: 40%;
    display: none;
}

#ps_logo {
    position: absolute;
    top: 47%;
    left: calc(50% - 25%);
    width: 50%;
    font-family: 'Zrnic', sans-serif;
    color: white;
    font-size: 7vmin;
    text-align: center;
    display: none;
}

#ps_credits {
    position: absolute;
    top: 61%;
    left: 10%;
    width: 80%;
    font-family: 'Arial', sans-serif;
    font-size: 3vmin;
    color: white;
    text-align: center;
    display: none;
}

#ps_credits p:last-child {
    margin-top: 5%;
}