#sce_logo_top {
    width: 64vh;
    height: 11vh;
    position: fixed;
    top: 7vh;
    left: calc(50% - (64vh / 2));
}

#sce_logo_background {
    width: 52vh;
    height: 52vh;
    position: fixed;
    top: calc(50% - (52vh / 2));
    left: calc(50% - (52vh / 2));
    background: linear-gradient(90deg, rgba(224,23,5,1) 0%, rgba(223,147,0,1) 50%, rgba(224,23,5,1) 100%);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

#sce_logo_triangle1, #sce_logo_triangle2 {
    width: 26vh;
    height: 52vh;
    position: fixed;
}

#sce_logo_triangle1 {
    top: calc(50% - (52vh / 2));
    left: calc(50% - (52vh / 2));
    background: linear-gradient(90deg, rgba(224,23,5,1) 0%, rgba(223,147,0,1) 100%);
    clip-path: polygon(0% 50%, 100% 100%, 100% 0);
}

#sce_logo_triangle2 {
    top: calc(50% - (52vh / 2));
    left: calc(50%);
    background: linear-gradient(90deg, rgba(223,147,0,1) 0%, rgba(224,23,5,1) 100%);
    clip-path: polygon(100% 50%, 0 100%, 0 0);
}

#sce_trademark {
    width: 37px;
    height: 27px;
    position: fixed;
    top: 74vh;
    right: calc(50% - 9vh);
    font-family: 'HelveticaNeueExtended', sans-serif;
    font-size: 22px;
    text-align: center;
}

#sce_logo_bottom {
    width: 64vh;
    height: 11vh;
    position: fixed;
    bottom: 8vh;
    left: calc(50% - (64vh / 2));
    font-family: 'HelveticaNeueExtended', sans-serif;
    overflow: visible;
    text-align: center;
}

#sce_logo_bottom p:first-child {
    font-size: 6.84vw;
}

#sce_logo_bottom p:last-child {
    margin-top: -2.5vh;
    font-size: 4.6vw;
}